{% extends 'base.html.twig' %}

{% block top_menu %}
    {% include 'category/_top_menu.html.twig' %}
{% endblock %}

{% block body %}
    <h1>Category edit</h1>

    {{ form_start(edit_form) }}
		<div class="form-group">
			{{ form_errors(edit_form) }}
        	{{ form_widget(edit_form) }}
        <input type="submit" value="Save" class="btn btn-primary" style="margin: 10px 0;" / />
    {{ form_end(edit_form) }}

	<div class="row">
        <div class="col-md-6">
            <a href="{{ path('admin_product-category_index') }}" class="btn btn-default">Back to the list</a>
        </div>
        <div class="col-md-6">
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete" class="btn btn-danger">
            {{ form_end(delete_form) }}
        </div>
    </div>
{% endblock %}
