{% extends 'base.html.twig' %}

{% block top_menu %}
    {% include 'category/_top_menu.html.twig' %}
{% endblock %}

{% block body %}
    <h1>Categories list</h1>

    <table class="table table-striped">
        <thead>
            <tr>
                <th>Slug</th>
                <th>Title</th>
                <th>Description</th>
                <th>Image</th>
                <th>Rank</th>
                <th>Parent</th>
                <th>Createdat</th>
                <th>Updatedat</th>
                <th>Id</th>
                <th class="col-xs-2">Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for category in categories %}
            <tr>
                <td><a href="{{ path('admin_product-category_show', { 'id': category.id }) }}">{{ category.slug }}</a></td>
                <td>{{ category.title }}</td>
                <td>{{ category.description }}</td>
                <td>{{ category.image }}</td>
                <td>{{ category.rank }}</td>
                <td>{{ category.parent }}</td>
                <td>{% if category.createdAt %}{{ category.createdAt|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{% if category.updatedAt %}{{ category.updatedAt|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{{ category.id }}</td>
                <td>
					<a href="{{ path('admin_product-category_show', { 'id': category.id }) }}" class="btn btn-default">show</a>
                    <a href="{{ path('admin_product-category_edit', { 'id': category.id }) }}" class="btn btn-primary">edit</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

	<a href="{{ path('admin_product-category_new') }}" class="btn btn-primary pull-right">New Category</a>
{% endblock %}
