{% extends 'base.html.twig' %}

{% block top_menu %}
    {% include 'category/_top_menu.html.twig' %}
{% endblock %}

{% block body %}
    <h1>Category creation</h1>

	<div class="row">
    {{ form_start(form) }}
		<div class="col-md-12 form-group">        
			{{ form_widget(form) }}
		</div>
		<div class="col-md-6">
            <a href="{{ path('admin_product-category_index') }}" class="btn btn-default">Back to the list</a>
        </div>
        <div class="col-md-6">
			<input type="submit" value="Create" class="btn btn-primary" style="margin: 10px 0;" />
        </div>
        
    {{ form_end(form) }}
        
    </div>
{% endblock %}
