{% extends 'base.html.twig' %}

{% block top_menu %}
    {% include 'category/_top_menu.html.twig' %}
{% endblock %}

{% block body %}
    <h1>Category</h1>

    <table class="table table-striped">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ category.id }}</td>
            </tr>
            <tr>
                <th>Slug</th>
                <td>{{ category.slug }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ category.title }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ category.description }}</td>
            </tr>
            <tr>
                <th>Image</th>
                <td>{{ category.image }}</td>
            </tr>
            <tr>
                <th>Rank</th>
                <td>{{ category.rank }}</td>
            </tr>
            <tr>
                <th>Parent</th>
                <td>{{ category.parent }}</td>
            </tr>
            <tr>
                <th>Createdat</th>
                <td>{% if category.createdAt %}{{ category.createdAt|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Updatedat</th>
                <td>{% if category.updatedAt %}{{ category.updatedAt|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
        </tbody>
    </table>

    <div class="row">
        <div class="col-md-5">
            <a href="{{ path('admin_product-category_index') }}" class="btn btn-default">Back to the list</a>
        </div>
        <div class="col-md-2">
            {{ form_start(delete_form) }}
            <input type="submit" value="Delete" class="btn btn-danger">
            {{ form_end(delete_form) }}
        </div>
        <div class="col-md-5">
            <a href="{{ path('admin_product-category_edit', { 'id': category.id }) }}" class="btn btn-primary pull-right">Edit</a>
        </div>
    </div>
{% endblock %}
