<ul class="nav nav-pills">
    <li role="presentation" class="active dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="{{ path('admin_product_index') }}" role="button" aria-haspopup="true" aria-expanded="false">
            Products <span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
            <li><a href="{{ path('admin_product_index') }}">List Products</a></li>
            <li><a href="{{ path('admin_product_list') }}">List Products by Categories</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="{{ path('admin_product_new') }}">New Product</a></li>
        </ul>
    </li>
    <li role="presentation"><a href="{{ path('admin_product-category_index') }}">Categories</a></li>
    <li role="presentation" class="navbar-right"><a href="{{ path('logout') }}">Logout</a></li>
</ul>