{% extends 'base.html.twig' %}

{% block top_menu %}
    {% include 'product/_top_menu.html.twig' %}
{% endblock %}

{% block body %}
    <h1>Product edit</h1>

    {{ form_start(edit_form, {'attr': {'class': ''}} ) }}
        <div class="form-group">
            {{ form_errors(edit_form) }}
            {{ form_widget(edit_form) }}
        </div>
        <input type="submit" value="Save" class="btn btn-primary" style="margin: 10px 0;" />
    {{ form_end(edit_form) }}

    <div class="row">
        <div class="col-md-6">
            <a href="{{ path('admin_product_index') }}" class="btn btn-default">Back to the list</a>
        </div>
        <div class="col-md-6">
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete" class="btn btn-danger">
            {{ form_end(delete_form) }}
        </div>
    </div>
{% endblock %}
