{% extends 'base.html.twig' %}

{% block top_menu %}
    {% include 'product/_top_menu.html.twig' %}
{% endblock %}

{% block body %}
    <h1>Products list</h1>

    <table class="table table-striped">
        <thead>
            <tr>
                <th>Slug</th>
                <th>Title</th>
                <th>Subtitle</th>
                <th>Image</th>
                <th>Price</th>
                <th>Rank</th>
                <th>Createdat</th>
                <th>Updatedat</th>
                <th>Id</th>
                <th class="col-xs-3">Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for product in products %}
            <tr>
                <td><a href="{{ path('admin_product_show', { 'id': product.id }) }}">{{ product.slug }}</a></td>
                <td>{{ product.title }}</td>
                <td>{{ product.subTitle }}</td>
                <td>{{ product.image }}</td>
                <td>{{ product.price }}</td>
                <td>{{ product.rank }}</td>
                <td>{% if product.createdAt %}{{ product.createdAt|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{% if product.updatedAt %}{{ product.updatedAt|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{{ product.id }}</td>
                <td>
                    <a href="{{ path('admin_product_show', { 'id': product.id }) }}" class="btn btn-default">show</a>
                    <a href="{{ path('admin_product_edit', { 'id': product.id }) }}" class="btn btn-primary">edit</a>
                    <a href="{{ path('admin_product_delete2', { 'id': product.id }) }}" class="btn btn-danger">delete</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('admin_product_new') }}" class="btn btn-primary pull-right">New Product</a>
{% endblock %}
