{% extends 'base.html.twig' %}

{% block top_menu %}
    {% include 'product/_top_menu.html.twig' %}
{% endblock %}

{% block body %}
    <h1>Products by Categories</h1>

{% for cat in categories %}
    <h2>{{ cat.title }}</h2>
    <p>{{ cat.description }}</p>
    {% if cat.products|length > 0 %}
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Image</th>
                    <th>Title</th>
                    <th>Rank</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
            {% for product in cat.products %}
                <tr>
                    <td><img src="{{ vich_uploader_asset(product, 'imageFile') }}" alt="{{ product.image }}" height="60"/></td>
                    <td><a href="{{ path('admin_product_show', { 'id': product.id }) }}">{{ product.title }}</a></td>
                    <td>{{ product.rank }}</td>
                    <td>
                        <a href="{{ path('admin_product_show', { 'id': product.id }) }}" class="btn btn-default">show</a>
                        <a href="{{ path('admin_product_edit', { 'id': product.id }) }}" class="btn btn-primary">edit</a>
                        <a href="#" class="btn btn-danger">delete</a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% endif %}
{% endfor %}

    <a href="{{ path('admin_product_index') }}" class="btn btn-default">Back to the list</a>
{% endblock %}
