{% extends 'email.html.twig' %}

{% block content %}
    <h1>New Product Notification</h1>
    <p>A new product was just added to the SoftUni Demo App</p>
    <!--<table border="0" cellpadding="0" cellspacing="0" class="btn btn-primary">
        <tbody>
        <tr>
            <td align="left">
                <table border="0" cellpadding="0" cellspacing="0">
                    <tbody>
                    <tr>
                        <td> <a href="http://htmlemail.io" target="_blank">Call To Action</a> </td>
                    </tr>
                    </tbody>
                </table>
            </td>
        </tr>
        </tbody>
    </table>-->
    <p>Good luck!</p>

{% endblock %}
