{% extends 'base.html.twig' %}

{% block top_menu %}
    {% include 'product/_top_menu.html.twig' %}
{% endblock %}

{% block body %}
    <h1>Product</h1>

    <table class="table table-striped">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ product.id }}</td>
            </tr>
            <tr>
                <th>Slug</th>
                <td>{{ product.slug }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ product.title }}</td>
            </tr>
            <tr>
                <th>Subtitle</th>
                <td>{{ product.subTitle }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ product.description }}</td>
            </tr>
            <tr>
                <th>Image</th>
                <td>{{ product.image }}</td>
            </tr>
            <tr>
                <th>Price</th>
                <td>{{ product.price }}</td>
            </tr>
            <tr>
                <th>Rank</th>
                <td>{{ product.rank }}</td>
            </tr>
            <tr>
                <th>Createdat</th>
                <td>{% if product.createdAt %}{{ product.createdAt|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Updatedat</th>
                <td>{% if product.updatedAt %}{{ product.updatedAt|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
        </tbody>
    </table>

    <div class="row">
        <div class="col-md-5">
            <a href="{{ path('admin_product_index') }}" class="btn btn-default">Back to the list</a>
        </div>
        <div class="col-md-2">
            {{ form_start(delete_form) }}
            <input type="submit" value="Delete" class="btn btn-danger">
            {{ form_end(delete_form) }}
        </div>
        <div class="col-md-5">
            <a href="{{ path('admin_product_edit', { 'id': product.id }) }}" class="btn btn-primary pull-right">Edit</a>
        </div>
    </div>
{% endblock %}
