{% extends 'base.html.twig' %}

{% block body %}
    <form class="form-signin" action="{{ path('login') }}" method="post">
        <h2 class="form-signin-heading">Please sign in</h2>

        <p class="help-block">You can use admin / demo</p>
        {% if error %}
            <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}

        <label for="inputEmail" class="sr-only">Username</label>
        <input type="text" id="username" name="_username" value="{{ last_username }}" class="form-control" placeholder="Username" required autofocus />

        <label for="inputPassword" class="sr-only">Password</label>
        <input type="password" id="password" name="_password" class="form-control" placeholder="Password" required>

        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
    </form>
{% endblock %}
